

<!-- ABOUT SECTION -->
<section id="about-info-container">
    <div class="about-info">
        <h1 class="l-heading">
            <span class="text-primary">About</span> Hotel OASIS
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
            aspernatur rem, soluta officiis laboriosam, eligendi doloremque
            molestias earum cumque corrupti suscipit tenetur. Lorem ipsum dolor
            sit amet, consectetur adipisicing elit. Nesciunt at perferendis
            asperiores Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Molestiae, qui.
        </p>
    </div>
</section>
<!-- TESTIMONIAL SECTION -->
<section id="testimonials" class="py-3">
    <div class="container">
        <h2 class="l-heading">What Our Guests Say</h2>
        <div class="testimonial">
            <img src="../img/person-1.jpg" alt="guestPhoto" />
            <div class="about-p">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Incidunt, natus ducimus aut asperiores vitae consequatur dolorem
                    laboriosam delectus laborum mollitia similique voluptatum
                    blanditiis sunt tempora! Reprehenderit facere in earum! Adipisci
                    et in dignissimos laborum magni atque fugiat ipsam
                    necessitatibus aut.
                </p>
            </div>
        </div>
        <div class="testimonial">
            <img src="../img/person-2.jpg" alt="guestPhoto" />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
                excepturi facilis veritatis culpa. Iusto aperiam labore ea saepe
                inventore adipisci iste alias nihil numquam asperiores porro eum
                modi quibusdam corrupti exercitationem, magni dolores explicabo.
                Dolorum.
            </p>
        </div>
    </div>
</section>