@{
    ViewData["Title"] = "Home Page";
}


<!-- HEADER -->

<header id="header">
    <div class="container">
        <div class="showcase-content">
            <h1><span class="text-primary">Enjoy</span> Your Stay</h1>
            <p class="lead animate">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                laboriosam provident exercitationem praesentium quis placeat.
            </p>
            <a class="btn" asp-controller="Booking" asp-action="Index" >Book A Vacation</a>
        </div>
    </div>
</header>

<!-- HOME INFO SECTION -->
<section id="home-info" class="bg-dark">
    <div class="info-img"></div>
    <div class="info-content">
        <h2><span class="text-primary">The History</span> Of Our Hotel</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
            cupiditate sunt incidunt fugit dicta ea, cumque, velit quasi, soluta
            esse facilis excepturi magni deserunt asperiores suscipit ad animi
            nobis. Sint odit rem, obcaecati hic ullam maiores ex voluptatibus
            alias. Molestias consequuntur, explicabo ipsa totam consequatur
            pariatur. Sapiente distinctio quis aperiam, quaerat quia.
        </p>
        <a class="btn btn-light" asp-controller="Home" asp-action="About">Read More</a>
    </div>
</section>

<!-- FEATURES SECTION -->
<div class="features-container">
    <div class="box bg-primary">
        <i class="fas fa-location-dot fa-3x"></i>
        <h3>Great Location</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolores enim quae ad, quo dolore laborum fuga exercitationem aliquid vero! Fugit dignissimos ducimus reprehenderit quas delectus consectetur autem consequuntur illum.
        </p>
    </div>
    <div class="box bg-light">
        <i class="fas fa-drumstick-bite fa-3x"></i>
        <h3>Free Meals</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolores enim quae ad, quo dolore laborum fuga exercitationem aliquid vero! Fugit dignissimos ducimus reprehenderit quas delectus consectetur autem consequuntur illum.
        </p>
    </div>
    <div class="box bg-primary">
        <i class="fas fa-dumbbell fa-3x"></i>
        <h3>Fitness Gym</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolores enim quae ad, quo dolore laborum fuga exercitationem aliquid vero! Fugit dignissimos ducimus reprehenderit quas delectus consectetur autem consequuntur illum.</p>
    </div>
</div>