
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotel OASIS | Login</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.css
    " />
</head>

<body>
    <div class="login-container">
        <div class="login-box">
            <div class="left-section"></div>
            <div class="right-section">
                <input type="text" class="login-field" placeholder="admin" required />
                <input type="password"
                       class="login-field"
                       placeholder="password"
                       required />
                <button class="btn btn-login" type="submit">Log In</button>
                <button class="btn btn-register">Register</button>
            </div>
        </div>
    </div>
</body>
