@model Result
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
        <!-- BOOKING -->
        <div class="form-container booking">
            <section id="contact-form">
                <div class="container py-3">
                    <h1 class="l-heading">BOOK YOUR VACATION ONLINE</h1>
                    <p>Please fill out the form below to book your vacation.</p>
                    <form asp-action="Index" asp-controller="Booking" method="post">
                        <div class="form-group">
                            <label for="name">ID Number</label>
                            <input type="text"
                                   name="TCkimlikNo"
                                   id="name"
                                   placeholder="Id"
                                   required />
                        </div>
                        <div class="form-group first-name">
                            <label for="name">Name</label>
                            <input type="text"
                                   name="Name"
                                   id="name"
                                   placeholder="Your first name"
                                   required />
                            <div class="form-group last-name">
                                <label for="surname">Last Name</label>
                                <input type="text"
                                       name="Surname"
                                       id="surname"
                                       placeholder="Your last name"
                                       required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="date">Date of Birth</label>
                    <input type="date" required name="ReservationDate" />
                        </div>
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="text"
                                   name="eMailAdress"
                                   id="email"
                                   placeholder="Your email"
                                    required />
                         <label for="Password">Password</label>
                         <input type="text"
                           name="Password"
                           id="Password"
                           placeholder="Your Password"
                            required />
                           </div>
                        <div class="form-group">
                            <label for="message">Reservation Type</label>
                            <select name="ReservationType">
                                <option value="prepaid">Prepaid</option>
                                <option value="classic">Classic</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="date" id="start-date">Arrival Date</label>
                     <input type="date" required name="ArrivalDate" />
                        </div>
                        <div class="form-group">
                            <label for="date" class="end-date">Departure Date</label>
                    <input type="date" required name="DepartureDate" />
                        </div>
                        <div class="form-group">
                            <label for="message">How Many People</label>
                            <select>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <button class="btn" type="submit">Submit</button>
                    </form>
            @if (@Model != null)
            {
               
                   <script type="text/javascript">
                      window.onload = function ()  
                     {
                         alert(@Model.message);
                     }
                   </script>
                
            }
                </div>
            </section>
        </div>

